<html>
    <head></head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/create">Create</a>
            <a href="/change">Change</a>
            <a href="/insert">Insert</a>
            <a href="/show">Show</a>
            <a href="/update">Update</a>
        </div>
        
        <form method="POST" action="send">
        <p>
          <label>Enter Name of Table you want to create</label>
          <input type="text" name="table_name">
        </p>
        <p>
          <label>Enter Name of Column 1</label>
          <input type="text" name="col1">
        </p>
        <p>
          <label>Enter Name of Column 2</label>
          <input type="text" name="col2">
        </p>
        <p>
          <label>Enter Name of Column 3</label>
          <input type="text" name="col3">
        </p>
        <p>
          <label>Enter Name of Column 4</label>
          <input type="text" name="col4">
        </p>
        <p>
          <label>Enter Name of Column 5</label>
          <input type="text" name="col5">
        </p>
        <p>
          <label>Enter Name of Column 6</label>
          <input type="text" name="col6">
        </p>
        <p>
          <label>Your Email ID</label>
          <input type="email" name="email">
        </p>
        <p class="full">
          <button type="submit">Submit</button>
        </p>
    </form>
    </body>
</html>