<html>
    <head></head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/insert">Insert</a>
        </div>
        
        <form method="POST" action="send">
        <p>
          <label>Enter Name of Table you want to create</label>
          <input type="text" name="table_name">
        </p>
        <p>
          <label>Your Email ID</label>
          <input type="email" name="email">
        </p>
        <p class="full">
          <button type="submit">Submit</button>
        </p>
    </form>
    </body>
</html>