<html>
    <body>
        <form method="POST" action="inserted">
            <p>
                <label>Enter name of your table</label>
                <input type="text" name="table">
            </p>
            <p>
                <label>Enter Value for your first column</label>
                <input type="text" name="field1">
            </p>
            <p>
                <label>Enter Value for your second column</label>
                <input type="text" name="field2">
            </p>
            <p>
                <label>Enter Value for your third column</label>
                <input type="text" name="field3">
            </p>
            <p>
                <label>Enter Value for your fourth column</label>
                <input type="text" name="field4">
            </p>
            <p>
                <label>Enter Value for your fifth column</label>
                <input type="text" name="field5">
            </p>
            <p>
                <label>Enter Value for your sixth column</label>
                <input type="text" name="field6">
            </p>
            <p>
                <label>Enter Value for your seventh column</label>
                <input type="text" name="field7">
            </p>

            <p>
                <label>Enter Value for your eighth column</label>
                <input type="text" name="field8">
            </p>
            {{!-- <p>
                <label>Enter your EmailID</label>
                <input type="email" name="email">
            </p> --}}
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>