<html>
    <body>
        <form method="POST" action="inserted">
            <p>
                <label>Enter name of your table</label>
                <input type="text" name="table">
            </p>
            <p>
                <label>Number Of New Patients Admitted Today</label>
                <input type="text" name="field1">
            </p>
            <p>
                <label>Number of Patients Discharged Today</label>
                <input type="text" name="field2">
            </p>
            <p>
                <label>Number Of Active Patients</label>
                <input type="text" name="field3">
            </p>
            <p>
                <label>Number Of Deaths Today</label>
                <input type="text" name="field4">
            </p>
            <p>
                <label>Number Of Patients Critical</label>
                <input type="text" name="field5">
            </p>
            <p>
                <label>Number Of Beds Available</label>
                <input type="text" name="field6">
            </p>
            <p>
                <label>Number Of ICU Beds Available</label>
                <input type="text" name="field7">
            </p>
            <p>
                <label>Number Of Remdesivir Injections in Stock</label>
                <input type="text" name="field8">
            </p>
            <p>
                <label>Number Of Tocilizumab Injections In Stock</label>
                <input type="text" name="field9">
            </p>
            <p>
                <label>Amount Of Oxygen Left</label>
                <input type="text" name="field10">
            </p>
            <p>
                <label>Enter Date For Which This Information is Valid</label>
                <input type="date" name="date">
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>