<html>
    <body>
        <form method="POST" action="inserted">
            <p>
                <label>Enter name of your table</label>
                <input type="text" name="table">
            </p>
            <p>
                <label>Enter Student's Name</label>
                <input type="text" name="name">
            </p>
            <p>
                <label>Enter Student's Roll Number</label>
                <input type="text" name="roll">
            </p>
            <p>
                <label>Enter Marks for Subject 1</label>
                <input type="text" name="sub1">
            </p>
            <p>
                <label>Enter Marks for Subject 2</label>
                <input type="text" name="sub2">
            </p>
            <p>
                <label>Enter Marks for Subject 3</label>
                <input type="text" name="sub3">
            </p>
            <p>
                <label>Enter Marks for Subject 4</label>
                <input type="text" name="sub4">
            </p>
            <p>
                <label>Enter Marks for Subject 5</label>
                <input type="text" name="sub5">
            </p>
            {{!-- <p>
                <label>Enter your EmailID</label>
                <input type="email" name="email">
            </p> --}}
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>