<html>
    <body>
        <form method="POST" action="modifiedCols">
            <p>
                <label>Enter name of your table</label>
                <input type="type" name="table">
            </p>
            <p>
                <label>Change name of Number_Of_New_Covid19_Patients_Admiited_Today</label>
                <input type="text" name="col1">
            </p>
            <p>
                <label>Change name of Number_Of_Patients_Discharged_Today</label>
                <input type="text" name="col2">
            </p>
            <p>
                <label>Change name of Number_Of_Patients_Critical</label>
                <input type="text" name="col3">
            </p>
            <p>
                <label>Change name of Number_Of_Beds_Available</label>
                <input type="text" name="col4">
            </p>
            <p>
                <label>Change name of Number_Of_ICU_Beds_Available</label>
                <input type="text" name="col5">
            </p>
            <p>
                <label>Change name of Number_Of_Remdesivir_Injections_In_Stock</label>
                <input type="text" name="col6">
            </p>
            <p>
                <label>Change name of Number_Of_Tocilizumab_Injections_In_Stock</label>
                <input type="text" name="col7">
            </p>
            <p>
                <label>Amount_Of_Oxygen_Left</label>
                <input type="text" name="col8">
            </p>
            <p>
                <label>Enter your EmailID</label>
                <input type="email" name="email">
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>