<html>
    <head>
        <title>Covinfo - Generate Your CSV File</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" href="/" style="font-family: 'Bree Serif';"><h4 style="color: #000099;">Covinfo <i class="fas fa-virus"></i></h4></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <h5><a style="color: #000099; font-family: 'Bree Serif';" class="nav-link" href="/"><i class="fas fa-home"></i> Home</a></h5>
                    </li>
                    <li style="font-family: 'Bree Serif'; font-size: 18.75px;" class="nav-item dropdown dropleft">
                        <a style="color: #000099;" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Start Here!
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/create">Create Hospital Table</a>
                            <a class="dropdown-item" href="/insert">Feed Values</a>
                            <a class="dropdown-item" href="/update">Update Values</a>
                            <a class="dropdown-item" href="/csv">Generate CSV</a>
                            <a class="dropdown-item" href="/text">Generate Text or Word File</a>
                            <a class="dropdown-item" href="/showTable">See Preview of Your Table</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <br><br><br>

        <div class="alert alert-primary">
            <p></p>
            <p>Generate CSV File from the table you created.</p>
        </div>

        <div class="container">
            <form method="POST" action="preview">
                <div class="form-group">
                    <label>Enter the name of your table</label>
                    <input type="text" class="form-control" name="table">
                </div>
                <br>
                <div class="form-group">
                    <label>Name your File</label>
                    <input type="text" class="form-control" name="file" placeholder="Example: dummy">
                </div>
                <br>
                <p class="full">
                    <button type="submit" class="allPurposeBtn">Download</button>
                </p>
            </form>
        </div>

        <br>

        <div class="upcurve"></div>

        <div class="jumbotron about">
            <div class="container">
                <h1 style="text-align: center; font-family: 'Bree Serif';">ABOUT</h1>
                <hr class="aboutHr">
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <h4><i class="far fa-user"></i> &nbsp; <b>Chinmay Karmokar</b></h4>
                        <hr>
                        <br>
                        <h6>I am a second year electrical engineering student who has a lot of interest in programming and specifically in front-end development.</h6>
                        <h6>I use JavaScript to develop most of the things. I look forward to working in NodeJS and React.</h6>
                        <h6>You can check my GitHub profile for more.</h6>
                        <hr>
                        <h3 style="font-family: 'Bree Serif';">Stack</h3>
                        <h2><i class="fab fa-node-js"></i> <i class="fab fa-css3-alt"></i></h2>
                    </div>
                    <div class="col-md-1">
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="col-md-6">
                        <div class="card abtCard">
                            <div class="card-body">
                                <h3 style="font-family: 'Bree Serif';"><i class="far fa-star"></i> &nbsp; SOCIALS</h3>
                                <hr>
                                <br>
                                <h6>Connect with me on LinkedIn and GitHub</h6>
                                <br>
                                <a target="_blank" href="https://www.linkedin.com/in/chinmay-karmokar-b0042b174/" style="font-size: 40px; margin-right: 10px; color: #0077b5"><i class="fab fa-linkedin-in"></i></a>
                                <a target="_blank" href="https://github.com/chinmaykarmokar" style="font-size: 40px; margin-right: 10px; color: #333"><i class="fab fa-github"></i></a>
                                <br><br>
                                <a target="_blank" href="/create" href="https://github.com/chinmaykarmokar/covinfo"><button class="start">Project Repository</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </body>
</html>