<html>
    <body>
        <form method="POST" action="preview">
            <p>
                <label>Enter name of your table</label>
                <input type="text" name="table">
            </p>
            <p>
                <label>Enter your Email ID</label>
                <input type="email" name="email">
            </p>
            <p>
                <label>Name your File</label>
                <input type="text" name="file">
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>