<html>
    <head></head>
    <body>
        <form method="POST" action="/yourdata">
            <p>
                <label>Enter name of your table</label>
                <input type="text" name="name">
            </p>
            <p>
                <label>Enter the date for which you want the data for</label>
                <input type="text" name="date">
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>