<html>
    <body>
        <form method="POST" action="updated">
            <p>
                <label>Enter name of your table</label>
                <input type="text" name="table">
            </p>
            <p>
                <label>Enter name of Column in which you want to edit the value</label>
                <input type="text" name="col">
            </p>
            <p>
                <label>Enter Date For Which You Want to Edit</label>
                <input type="date" name="date">
            </p>
            <p>
                <label>Enter new value</label>
                <input type="text" name="newVal">
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
        </form>
    </body>
</html>